<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.dal.teacherly">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="ca.dal.teacherly.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ca.dal.teacherly.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teacherly"
        tools:targetApi="31">
        <!-- <service android:name = ".SearchByLocation" android:foregroundServiceType="location"/> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDg5479WJ-pl4vZlrDFttLMih_MAZUzm_A" />


        <activity
            android:name=".ui.Sessions.PastSessionsActivity"
            android:label="@string/past_sessions_name" />
        <activity
            android:name=".utils.LoginManager"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".utils.ResetPassword"
            android:label="Teacherly"></activity>
        <activity android:name=".utils.EditProfile"
            android:label="Teacherly"></activity>
        <activity android:name=".utils.RegisterManager"
            android:label="Teacherly"></activity>

        <activity android:name=".utils.AssignmentManager"
            android:label="Teacherly"></activity>
        <activity android:name=".utils.AssignmentView"
            android:label="Teacherly"></activity>
        <activity android:name=".utils.AssignmentViewTeacher"
            android:label="Teacherly"></activity>
        <activity android:name=".utils.AssignmentGrade"
            android:label="Teacherly"></activity>
        <activity android:name=".utils.AssignmentSubmit"
            android:label="Teacherly"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity android:name=".MainActivity"
            android:label="Teacherly"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--    android:name=".MainActivity"-->